<div class="formulario-container">
    <h1>Registro de Datos Personales</h1>
    <form (ngSubmit)="submitForm(forma)" #forma="ngForm">
        <div class="datos">
            <label for="nombres">Nombres:</label>
            <input type="text" id="nombres" name="nombres" [(ngModel)]="cliente.nombre" required>
        </div>

        <div class="datos">
            <label for="apellidos">Apellidos:</label>
            <input type="text" id="apellidos" name="apellidos" [(ngModel)]="cliente.apellido" required>
        </div>

        <div class="datos">
            <label for="cedula">Cedula:</label>
            <input type="text" id="cedula" name="cedula" [(ngModel)]="cliente.cedula" required minlength="10">
        </div>

        <div class="datos">
            <label for="edad">Fecha de nacimiento:</label>
            <input type="date" id="fecha" name="fecha" [(ngModel)]="cliente.fecha_nacimiento" required>
        </div>

        <div class="datos">
            <label for="provincia">Provincia:</label>
            <select id="provincia" name="provincia" [(ngModel)]="cliente.provincia" (change)="onProvinciaChange()" required>
              <option value="">Selecciona una provincia</option>
              <option *ngFor="let provincia of provincias" [value]="provincia">{{ provincia }}</option>
            </select>
        </div>

        <div class="datos">
            <label for="ciudad">Ciudad:</label>
            <select id="ciudad" name="ciudad" [(ngModel)]="cliente.ciudad" required>
          <option value="">Selecciona una ciudad</option>
          <option *ngFor="let ciudad of ciudades" [value]="ciudad">{{ ciudad }}</option>
        </select>
        </div>

        <div class="datos">
            <label for="numero-celular">Número de Celular:</label>
            <input type="tel" id="numero-celular" name="numero-celular" [(ngModel)]="cliente.telefono" required minlength="10">
        </div>

        <div class="datos">
            <label for="correo">Correo:</label>
            <input type="email" id="correo" name="correo" [(ngModel)]="cliente.correo" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
        </div>

        <div class="datos">
            <button type="submit">Enviar datos</button>
        </div>
    </form>
</div>
<div class="modal" id="modal">
    <div class="modal-contenido">
        <p class="experiencia">¡Gracias por cotizar tu seguro con nosotros!<br>¿Cómo calificarías tu experiencia?</p>
        <div (click)="cerrarModal()" class="cerrar-container">
            <span class="cerrar">&times;</span>
        </div>
        <ngx-stars class="estrellas" [readonly]="false" [size]="2" [color]="'#fff220'" (ratingOutput)="setRating($event)"></ngx-stars>
        <button (click)="guardarValoracion()" class="boton-container">Enviar</button>
    </div>
</div>
<app-footer></app-footer>