<footer>
    <div class="footer-container">
        <div class="footer-section">
            <h3>Redes sociales</h3>
            <div class="redes-sociales">
                <a href="#" target="_blank">
                    <img src="../../../assets/facebook.png" alt="Facebook">
                </a>
                <a href="#" target="_blank">
                    <img src="../../../assets/instagram.png" alt="Instagram">
                </a>
                <a href="#" target="_blank">
                    <img src="../../../assets/twitter.png" alt="Twitter">
                </a>
            </div>
        </div>

        <div class="footer-section">
            <h3>Contacto</h3>
            <p>Email: contacto@facilitaseguros.com</p>
            <p>Teléfono: +1 (555) 123-4567</p>
        </div>

        <div class="footer-section">
            <h3>Enlaces</h3>
            <ul>
                <li><a routerLink="/personas">Inicio</a></li>
                <li><a routerLink="/planes-personas">Seguros de Vida</a></li>
                <li><a routerLink="/planes-automoviles">Seguros de Automoviles</a></li>
                <li><a routerLink="/quienes-somos">Quienes somos</a></li>

            </ul>
        </div>
    </div>

    <div class="footer-bottom">
        <p>Copyright © 2023 FacilitaSeguros. Todos los derechos reservados.</p>
    </div>
</footer>