<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
        <i class="fas fa-bars"></i>
    </label>

    <div class="logo">
        <img class="logo-image" src="../../../assets/logo-seguro.png" alt="NOSE">
        <label>FACILITA SEGUROS</label>
    </div>
    <ul>
        <li><a [routerLink]="['personas']" routerLinkActive="active" (click)="closeMenu(); navigateTo('/personas')">Inicio</a></li>
        <li><a [routerLink]="['planes-automoviles']" routerLinkActive="active" (click)="closeMenu(); navigateTo('/planes-automoviles')">Planes Automoviles</a></li>
        <li><a [routerLink]="['planes-personas']" routerLinkActive="active" (click)="closeMenu(); navigateTo('/planes-personas')">Planes de Vida</a></li>
        <li><a [routerLink]="['quienes-somos']" routerLinkActive="active" (click)="closeMenu(); navigateTo('/quienes-somos')">Quienes Somos</a></li>
        
    </ul>
</nav>
<div></div>
