<div class="container">
    <div class="row">

        <div class="col-md-6">
            <canvas id="seguroVehiculoProvincia" width="200" height="200"></canvas>
        </div>

        <div class="row">
            <div class="col-md-6">
                <canvas id="seguroVidaProvincia" width="200" height="200"></canvas>
            </div>

            <div class="col-md-6">
                <canvas id="seguroVehiculoCiudad" width="200" height="500"></canvas>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <canvas id="seguroVidaCiudad" width="200" height="500"></canvas>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <canvas id="seguroVehiculoPorcentaje" width="200" height="400"></canvas>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <canvas id="seguroVidaPorcentaje" width="200" height="400"></canvas>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <canvas id="clientesSemanaVehiculo" width="200" height="200"></canvas>
                            </div>

                            <div class="row">
                                <div class="col-md-6">
                                    <canvas id="clientesSemanaVida" width="200" height="200"></canvas>
                                </div>


                            </div>
                        </div>