<section class="hero">
    <div id="degradado" class="degradado"></div>
    <div class="hero-frase">
        <p> Encuentra los Mejores Seguros de
            <br><span class="hero-frase__1">Vida y Automóvil en un Solo Lugar.</span>
            <br><span class="hero-frase__2">Cotiza ahora y encuentra el seguro que se adapte <br>a tus necesidades.</span>
        </p>
    </div>
    <img class="portada-imagen" src="../../../assets/portada-hero.jpg" alt="">
</section>

<div class="container">
    <div class="beneficios">
        <h2>Seis razones para tener un seguro de vida y vivir tranquilo</h2>
        <section class="cards">
            <div class="card">
                <p>Te protege en caso de incapacidad temporal o permanente</p>
                <img src="../../../assets/card-1.jpg" alt="">
            </div>
            <div class="card">
                <img src="../../../assets/card-2.jpg" alt="">
                <p>Recibes una mensualidad por pérdida de empleo</p>
            </div>
            <div class="card">
                <img src="../../../assets/card-3.jpg" alt="">
                <p>La póliza se adapta a tu presupuesto</p>
            </div>
            <div class="card">
                <img src="../../../assets/card-4.jpg" alt="">
                <p>Cubre los gastos de tu funeral</p>
            </div>
            <div class="card">
                <img src="../../../assets/card-5.jpg" alt="">
                <p>La cobertura aplica a toda causa de fallecimiento</p>
            </div>
            <div class="card">
                <img src="../../../assets/card-6.jpg" alt="">
                <p>Asegura el futuro de tu familia</p>
            </div>
        </section>
    </div>
    <br><br><br>
    <div class="seccion seccion-1">
        <div class="info">
            <h3>¿Por qué contratar <span>FacilitaSeguros?</span></h3>
            <h5>¡Confía en los expertos y no te preocupes más!</h5>
            <p>Al trabajar con nosotros, tendrás acceso a una extensa selección de seguros de vida y automóvil de diferentes empresas líderes en el mercado. Podrás comparar coberturas, precios y beneficios para encontrar la opción que mejor se adapte a tus
                necesidades y presupuesto.</p>
        </div>
        <img src="../../../assets/seccion-1.jpg" alt="">
    </div>

    <br><br><br>
    <div class="seccion seccion-2">
        <img src="../../../assets/seccion-2.jpg" alt="">
        <div class="info">
            <h3>¿Qué beneficios obtengo de <span>FacilitaSeguros?</span></h3>
            <p> En lugar de visitar múltiples compañías de seguros, te proporcionamos una plataforma centralizada donde puedes obtener toda la información que necesitas y cotizar en un solo lugar. Ahorrarás tiempo y esfuerzo al evitar búsquedas complicadas
                y llamadas a distintas aseguradoras.</p>
        </div>
    </div>
    <br><br><br>
    <div class="seccion seccion-3">
        <div class="info">
            <h3>Transparencia y confianza</h3>
            <p>Como intermediarios, trabajamos para ofrecerte transparencia en todas las etapas del proceso. Te proporcionaremos información clara y detallada sobre cada seguro, para que puedas tomar decisiones informadas y tener la tranquilidad de que estás
                protegiendo lo que más importa.</p>
        </div>
        <img src="../../../assets/seccion-3.jpg" alt="">
    </div>
</div>
<app-footer></app-footer>