<input type="checkbox" id="menu-toggle" (change)="onToggleChange()">
<label for="menu-toggle">
  <i class="fas fa-bars" id="menu-btn"></i>
</label>
<div class="sidebar">
    <ul>
        <li><a class="btn-dash" routerLink="/admin/admin-dashboard" (click)="closeMenu()">Dashboard</a></li>
        <li><a class="btn-aseguradora-vehiculo" routerLink="/admin/admin-aseguradora-vehiculo" (click)="closeMenu()">AseguradoraVehiculos</a></li>
        <li><a class="btn-clientes" routerLink="/admin/admin-cliente" (click)="closeMenu()">Clientes</a></li>
        <li><a class="btn-anios" routerLink="/admin/admin-anio" (click)="closeMenu()">Años</a></li>
        <li><a class="btn-aseguradora-vida" routerLink="/admin/admin-aseguradora-vida" (click)="closeMenu()">Aseguradora Vida</a></li>
        <li><a class="btn-automovil" routerLink="/admin/admin-automovil" (click)="closeMenu()">Automoviles</a></li>
        <li><a class="btn-modelo" routerLink="/admin/admin-modelo" (click)="closeMenu()">Modelos</a></li>
        <li><a class="btn-planVida" routerLink="/admin/admin-plan-vida" (click)="closeMenu()">Planes de Vida</a></li>
        <li><a class="btn-seguros-vehiculo" routerLink="/admin/admin-seguro-vehiculo" (click)="closeMenu()">Seguros Vehiculos</a></li>
        <li><a class="btn-users" routerLink="/admin/admin-users" (click)="closeMenu()">Usuarios</a></li>
        <li><a class="btn-cerrarsesion" (click)="onClick()">Cerrar Sesion</a></li>

    </ul>
</div>