/* CSS */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  overflow-x: hidden;
}

.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: calc(100% - 220px);
  background: #042331;
  transition: all .5s ease;
  overflow-y: auto;
}

.sidebar header {
  font-size: 22px;
  color: white;
  line-height: 70px;
  text-align: center;
  background: #063146;
  user-select: none;
}

.sidebar ul {
  margin-bottom: 50px; /* Añade un margen inferior para crear espacio para el fondo */
}

.sidebar ul li {
  position: relative;
}

.sidebar ul a {
  display: block;
  height: 50px;
  width: 100%;
  line-height: 50px;
  font-size: 20px;
  color: white;
  padding-left: 40px;
  box-sizing: border-box;
  border-top: 1px solid rgba(255, 255, 255, .1);
  transition: .4s;
}

ul li:hover a {
  padding-left: 50px;
}

.sidebar ul li:last-child a {
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.sidebar ul a i {
  margin-right: 16px;
}

.sidebar footer {
  position: fixed;
  bottom: 0;
  width: 250px;
  text-align: center;
  padding: 10px;
  background: #042331;
  border-top: 1px solid rgba(255, 255, 255, .1);
}

#menu-toggle {
  display: none;
}

label #menu-btn,
label #menu-cancel {
  position: fixed;
  background: #042331;
  border-radius: 3px;
  cursor: pointer;
  z-index: 1111;
}

label #menu-btn {
  left: 1%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 35px;
  color: white;
  padding: 6px 12px;
}

label #menu-btn:hover {
  transform: translate(-50%, -50%) scale(1.2);
}

label #menu-cancel {
  display: none;
  position: fixed;
  left: 1%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 30px;
  color: #0a5275;
  padding: 4px 9px;
  z-index: 1111;
}

#menu-toggle:checked~.sidebar #menu-cancel {
  display: block;
  left: 1%;
}

#menu-toggle:checked~label #menu-cancel {
  display: block;
}

#menu-toggle:checked~.sidebar {
  left: 0;
}

#menu-toggle:checked~label #menu-btn {
  left: 250px;
  opacity: 0;
  pointer-events: none;
}

#menu-toggle:checked~section {
  margin-left: 250px;
}

section {
  background-position: center;
  background-size: cover;
  height: 100vh;
  overflow-y: auto;
  transition: all .5s;
}
