@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
h1 {
    color: black;
    font-family: 'Playfair Display', serif;
}

.table-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.table-container {
    padding: 0 10%;
    margin: 40px auto 0;
}

.heading {
    font-size: 40px;
    text-align: center;
    color: black;
    margin-bottom: 40px;
    font-family: 'Playfair Display', serif;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table thead {
    background-color: #0056b3;
}

.table thead tr th {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.35px;
    color: white;
    /* Cambiado a blanco */
    opacity: 1;
    padding: 12px;
    vertical-align: top;
}

.table tbody tr td {
    font-size: 20px;
    letter-spacing: 0.35px;
    font-weight: normal;
    color: #ffffff;
    background-color: #c5e2f9;
    padding: 8px;
    text-align: center;
}


/* Estilos para las imágenes */

.img-link {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 20px;
    cursor: pointer;
}


/* Estilos para el botón "Insertar" */

.btn-insert {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 24px;
    color: #007bff;
    font-family: 'Playfair Display', serif;
}


/*Estilos para pasar encima del mouse */

.btn-insert:hover {
    text-decoration: underline;
    color: #0056b3;
}

.table tbody tr:nth-child(even) td {
    background-color: #c5e2f9;
    color: #0056b3;
}

.table tbody tr:nth-child(odd) td {
    background-color: white;
    color: #0056b3;
}


/* Agrega bordes a las celdas de la tabla */

.table tbody tr td {
    border: 1px solid #dee2e685
}


/* Ajusta el borde de las celdas de la cabecera */

.table thead tr th {
    border: 1px solid #dee2e685;
}

.table {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
}


/* Estilos para centrar los select y el campo de búsqueda */


/* Estilos para centrar y ajustar el ancho de los select y el campo de búsqueda */

.select-container select,
.search-container input[type="text"] {
    font-size: 20px;
    padding: 8px;
    border: 1px solid #0056b3;
    /* Color del borde */
    background-color: #c5e2f9;
    /* Color de fondo */
    color: #0056b3;
    /* Color del texto */
    border-radius: 5px;
    /* Bordes redondeados */
    outline: none;
    /* Elimina el borde de enfoque */
    margin: 0 auto;
    /* Centra horizontalmente los elementos */
    display: block;
    width: 80%;
    /* Ajusta el ancho al 80% (puedes cambiar este valor según tus preferencias) */
}


/* Estilos para los select y el campo de búsqueda cuando se enfocan */

.select-container select:focus,
.search-container input[type="text"]:focus {
    border-color: #007bff;
    /* Cambia el color del borde cuando se enfoca */
}


/* Estilos para el contenedor de los select y el campo de búsqueda */

.select-container,
.search-container {
    text-align: center;
    /* Centra los elementos horizontalmente */
}