@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
h1 {
    color: black;
    font-family: 'Playfair Display', serif;
}

.table-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.table-container {
    padding: 0 10%;
    margin: 40px auto 0;
}

.heading {
    font-size: 40px;
    text-align: center;
    color: black;
    margin-bottom: 40px;
    font-family: 'Playfair Display', serif;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table thead {
    background-color: #0056b3;
}

.table thead tr th {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.35px;
    color: white;
    /* Cambiado a blanco */
    opacity: 1;
    padding: 12px;
    vertical-align: top;
}

.table tbody tr td {
    font-size: 20px;
    letter-spacing: 0.35px;
    font-weight: normal;
    color: #ffffff;
    background-color: #c5e2f9;
    padding: 8px;
    text-align: center;
}


/* Estilos para las imágenes */

.img-link {
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 20px;
    cursor: pointer;
}


/* Estilos para el botón "Insertar" */

.btn-insert {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 24px;
    color: #007bff;
    font-family: 'Playfair Display', serif;
}


/*Estilos para pasar encima del mouse */

.btn-insert:hover {
    text-decoration: underline;
    color: #0056b3;
}

.table tbody tr:nth-child(even) td {
    background-color: #c5e2f9;
    color: #0056b3;
}

.table tbody tr:nth-child(odd) td {
    background-color: white;
    color: #0056b3;
}


/* Agrega bordes a las celdas de la tabla */

.table tbody tr td {
    border: 1px solid #dee2e685
}


/* Ajusta el borde de las celdas de la cabecera */

.table thead tr th {
    border: 1px solid #dee2e685;
}

.table {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    overflow: hidden;
}


/* Estilos para las imágenes en la tabla */

.table tbody tr td img.card-img {
    max-width: 100px;
    /* Ajusta el tamaño máximo de las imágenes */
    height: auto;
    display: block;
    margin: 0 auto;
}

.action-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-icons .img-link {
    margin-right: 2px;
    /* Espacio entre los íconos */
}


/* Estilos para el campo de búsqueda */

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}


/* Estilos para el placeholder del campo de búsqueda */

input[type="text"]::placeholder {
    color: #999;
}


/* Estilos adicionales para el campo de búsqueda cuando se enfoca */

input[type="text"]:focus {
    border-color: #007bff;
    /* Cambia el color del borde cuando se enfoca */
}


/* Estilos para el campo de búsqueda */

input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}


/* Estilos para el placeholder del campo de búsqueda */

input[type="text"]::placeholder {
    color: #999;
}


/* Estilos adicionales para el campo de búsqueda cuando se enfoca */

input[type="text"]:focus {
    border-color: #007bff;
    /* Cambia el color del borde cuando se enfoca */
}