<section class="hero">
    <div id="degradado" class="degradado"></div>
    <div class="hero-frase">
        <h1>En FacilitaSeguros, entendemos lo importante que es para ti proteger lo que más amas.</h1>
        <p> Somos una empresa intermediaria de seguros dedicada a brindarte soluciones personalizadas que se adapten a tus necesidades específicas.</p>
    </div>
    <img class="portada-imagen" src="../../../assets/unoi.png" alt="">
</section>

<div class="container">
    <div class="nuestra-vision">
        <h2>Beneficios de nuestra Empresa</h2>
        <section class="cards">
            <div class="card">
                <p>Amplia variedad de seguros de vida</p>
                <img src="../../../assets/seguro1.png" alt="">
            </div>
            <div class="card">
                <p>Seguros exclusivos para automoviles</p>
                <img src="../../../assets/seguro2.png" alt="">

            </div>
            <div class="card">
                <p>Acceso a la informacion de pagos </p>
                <img src="../../../assets/seguro3.png" alt="">

            </div>
            <div class="card">
                <p>Servicio al cliente las 24 horas</p>
                <img src="../../../assets/seguro4.png" alt="">

            </div>

        </section>
    </div>
    <br><br><br>
    <div class="seccion seccion-1">
        <div class="info">
            <h3>Responsabilidad Social y Ética Empresarial</h3>
            <p>En FacilitaSeguros, hemos simplificado el proceso de comparación y contratación de seguros. Nuestra plataforma en línea te permite obtener cotizaciones rápidas y precisas para que puedas tomar decisiones informadas desde la comodidad de tu
                hogar u oficina. Nuestro equipo de expertos estará encantado de guiarte durante todo el proceso y resolver cualquier duda que puedas tener.</p>
        </div>
        <img src="../../../assets/persona.png" alt="">
    </div>

    <br><br><br>
    <div class="seccion seccion-2">
        <img src="../../../assets/persona2.png" alt="">
        <div class="info">
            <h3>Contacta con nosotros</h3>
            <p>No dejes tu seguridad financiera al azar. Permítenos ser tu guía en el mundo de los seguros y descubre cómo FacilitaSeguros puede marcar la diferencia en tu vida y negocio. ¡Contáctanos hoy mismo para recibir una asesoría personalizada y descubre
                por qué somos la opción preferida de tantos clientes satisfechos!</p>
        </div>
    </div>
    <br><br><br>
    <div class="seccion seccion-1">
        <div class="info">
            <h3>Enfoque en el cliente</h3>
            <p>En FacilitaSeguros, creemos en la importancia de contribuir al bienestar de la comunidad en la que operamos. Es por ello que nos comprometemos a llevar a cabo prácticas empresariales responsables y éticas. Nos esforzamos por tener un impacto
                positivo en la sociedad a través de programas de responsabilidad social que promuevan la seguridad y el bienestar de todos.</p>
        </div>
        <img src="../../../assets/persona3.png" alt="">
    </div>
</div>
<br><br><br>
<app-footer></app-footer>